/*  公共 用于主题色变换  */
:root {
  /* 深色主题色--主要用于按钮 */
  --theme-color-dark: #000000;
  /* 浅色主题色--主要用于背景 */
  --theme-color-light: #f9fafb;
}


/* 浅色模式 */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --border-color: #E5E7EB;
  --text-info-color: #4B5563;
  /* main盒子 背景色 */
  --main-background-color: #f9fafb;
  /* 菜单选择 文本颜色 */
  --menu-select-text-color: #ffffff;
  /* 菜单选择 背景色 */
  --menu-select-background-color: #000000;
  /* 菜单未选择 文本颜色 */
  --menu-no-select-text-color: #374151;
  /* 上传组件 边框颜色 */
  --upload-border-color: #D1D5DB;
  /* 表格 头 文本颜色 */
  --table-header-text-color: #4B5563;
  /* 表格 头 背景色 */
  --table-header-background-color: #f9fafb;
  /* 表格 行 hover 颜色 */
  --table-tr-hover-color: #F3F4F6;
  /* 选中效果 的字体色  */
  --select-text-color: #ffffff;
}


/* 深色模式 */
html.dark {
  --background-color: #1F2937;
  --text-color: #ffffff;
  --border-color: #374151;
  --text-info-color: #9CA3AF;
  /* main盒子 背景色 */
  --main-background-color: #111827;
  /* 菜单选择 文本颜色 */
  --menu-select-text-color: #ffffff;
  /* 菜单选择 背景色 */
  --menu-select-background-color: #000000;
  /* 菜单未选择 文本颜色 */
  --menu-no-select-text-color: #D1D5DB;
  /* 上传组件 边框颜色 */
  --upload-border-color: #4B5563;
  /* 表格 头 文本颜色 */
  --table-header-text-color: #D1D5DB;
  /* 表格 头 背景色 */
  --table-header-background-color: #364150;
  /* 表格 行 hover 颜色 */
  --table-tr-hover-color: #374151;
  /* 选中效果 的字体色  */
  --select-text-color: #000;

}

